.site {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;

  &__content {
    width: 100%;
    max-width: 80em;
    flex: 1;
  }
}

p.image-credit {
  text-align: right;
  font-size: smaller;
}
